@charset "utf-8";
/* CSS Document */
#content dd {margin-bottom: 20px;}
#content dt {font-weight:bold;}

#content .vemap
{
	
}

#content .info
{
	position: absolute;
}

#content .map_explanation
{
	top: 365px;
}

#full_extent 
{
	cursor: pointer;
	position: absolute;
	top: 127px;
	z-index: 108;
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	color: White;
	visibility: visible;
}

#content .counties
{
	top: 110px;
}
	

